.header-container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 255);    
}

.header-menu-container {
    display: flex;
    align-items: center;  
    margin-right: 1rem;
}

.header-nav-containter {
    display: flex;
}

.nav-item {
    margin-right: 1rem;
    text-decoration: none;
    color: #000;
}

/* .header-nav-containter >  */
.nav-active {
    text-decoration: underline;
    font-weight: 600;
}

.header-text {
    font-size: 1.2rem;
    font-weight: 500;
}