<form [formGroup]="postFormGroup">
  <p-dialog
    [header]="header"
    [(visible)]="display"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
  <div>
    <span class="p-float-label p-col-12">
      <input id="float-input" type="text" pInputText formControlName="title" />
      <label for="float-input">Tytuł</label>
    </span>
  </div>
  <div class="p-field p-col-12">
    <span class="p-float-label">
    <textarea
      type="text"
      rows="10"
      cols="30"
      pInputTextarea
      formControlName="text"
      id="float-text"
    ></textarea>
    <label for="float-text">Tekst</label>
  </span>
</div>
    <ng-template pTemplate="footer">
      <span class="p-buttonset">
        <button pButton type="button" (click)="save()" label="Zapisz" icon="pi pi-check"></button>
        <button pButton type="button" (click)="cancel()" label="Anuluj" icon="pi pi-times"></button>
    </span>
    </ng-template>
  </p-dialog>
</form>

      <!-- class="form-input" -->
      <!-- class="form-input" -->
